/* David Hobbs Stylesheet for portal aggregator website for the raspberri pi
	Page will mostly be a black and white affair to allow light to best shine
	through a two way mirror.
 */

body{
	background-color: black;
	font-size: 12px;
	font-family: 'Cabin', regular; /* googlefont link located in head.html */
	color: white;

}

h1{
	font-size: 24px;
	font-family: 'Fjalla One', bold; /* googlefont link located in head.html */
	text-align: center;
	display:none; /* this is so JQuery can fade in Header text */

}

h3{
	font-family: 'Fjalla One', bold;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom:0px;
}

a{
	color:white;

}

h5{
	font-size: 14px;
	margin:0;
}
p{

	margin:0;
}


.weather img{
	width:50%;
	}


.technews p{
	margin-bottom: 2%;
}
.technews img{
	float:left;
	width:40%;
	margin-right:2px;
	margin-bottom: 2px;
	clear:left;



}
.guardNews h5{
	margin-bottom:3%;
}
.bbcNews img{
	float:left;
	width:17%;
	margin-right:2px;
	margin-bottom: 2px;
	clear:left;

}
.bbcNews p{
	margin-bottom: 8%;
}
