/* David Hobbs Stylesheet for portal aggregator website for the raspberri pi
	Page will mostly be a black and white affair to allow light to best shine
	through a two way mirror.
 */

body,a,p{
	background-color: black;
	font-size: 18px;
	font-family: 'Cabin', regular; /* googlefont link located in head.html */
	color: white;
	margin:1%;


}

.weather{
	width:20%;
	height:300px;
	float:left;
	display: block;
	padding-left:50px;
}
.weather img{
	width:150px;
}
.temp{
	font-size: 50px;
}
