/* David Hobbs Stylesheet for portal aggregator website for the raspberri pi
	Page will mostly be a black and white affair to allow light to best shine
	through a two way mirror.
 */


body,p{
	background-color: black;
	font-size: 12px;
	font-family: 'Cabin', regular; /* googlefont link located in head.html */
	color: white;
	margin-bottom: 5px


}


.weather{
	width:25%;
	height:250px;
	float:left;
	display: block;
	
	}
	
.weather img{
	width:110px;
}
.temp,#time{
	font-size: 25px;
	margin-left: 15px;
	margin-top:2px;
	
}
.bbcNews{
	display: inline-block;
	width:70%;
}

